storage-account-name=mystorageacoount
storage-account-key=<account-key>
storage-container-name=delta-lake

master-data-path=master-data
meter-data-path=meter-data

input-eh-connection-string=Endpoint=sb://myeventhub.servicebus.windows.net/;SharedAccessKeyName=Listen;SharedAccessKey=<key>;EntityPath=input;

telemetry-instrumentation-key=<application insights instrumentation key, GUID format>
