# Event hub (Kafka source)
EVENTHUB_CONNECTIONSTRING=[INSERT EVENT HUB CONNECTION STRING WITH SHARED ACCESS KEY AND ENTITYPATH]

# Delta Table (sink)
STORAGE_ACCOUNT_KEY=[INSERT STORAGE ACCOUNT KEY]
STORAGE_ACCOUNT_NAME=stdatalakesharedresu001
DELTA_LAKE_CONTAINER_NAME=timeseries-data
BLOB_NAME=timeseries-unprocessed
