# Copyright 2020 Energinet DataHub A/S
#
# Licensed under the Apache License, Version 2.0 (the "License2");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  ci_base:
    uses: Energinet-DataHub/.github/.github/workflows/ci-base.yml@6.2.0

  dotnet_solution_time_series_ci:
    uses: Energinet-DataHub/.github/.github/workflows/dotnet-solution-ci.yml@6.1.0
    with:
      SOLUTION_FILE_PATH: 'source/TimeSeries/TimeSeries.sln'
      DOTNET_VERSION: '6.0.201'
      USE_AZURE_FUNCTIONS_TOOLS: true
    secrets:
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      AZURE_SPN_ID: ${{ secrets.AZURE_SPN_ID }}
      AZURE_SPN_SECRET: ${{ secrets.AZURE_SPN_SECRET }}
      AZURE_KEYVAULT_URL: ${{ secrets.AZURE_KEYVAULT_URL }}
      AZURE_SECRETS_KEYVAULT_URL: ${{ secrets.AZURE_SECRETS_KEYVAULT_URL }}

  databricks_ci:
    uses: Energinet-DataHub/.github/.github/workflows/python-ci-test-and-coverage.yml@6.1.3
    with:
      PATH_STATIC_CHECKS: './source'
      IGNORE_ERRORS_AND_WARNING_FLAKE8: 'E501,F401,E402,W503,E122,E123,E126,F811'
      TEST_REPORT_PATH: ./source/databricks/htmlcov/

  terraform_validate:
    uses: Energinet-DataHub/.github/.github/workflows/terraform-validate.yml@5.0.0
    with:
      TERRAFORM_WORKING_DIR_PATH: "./build/primary/main"
      TERRAFORM_VERSION: "1.1.6"

  terraform_validate_streaming_cluster:
    uses: Energinet-DataHub/.github/.github/workflows/terraform-validate.yml@2.6.1
    with:
      TERRAFORM_WORKING_DIR_PATH: './build/databricks_streaming_cluster'
      TERRAFORM_VERSION: '1.1.6'

  time_series_bundle_ingestor_ci:
    needs: [ci_base, terraform_validate]
    uses: Energinet-DataHub/.github/.github/workflows/dotnet-create-function-artifact.yml@6.1.0
    with:
      CSPROJ_FILE_PATH: 'source/TimeSeries/TimeSeriesBundleIngestor/TimeSeriesBundleIngestor.csproj'
      DOTNET_VERSION: '6.0.201'
      ARTIFACT_NAME: time_series_bundle_ingestor

  wheel_ci:
    needs: [ci_base, databricks_ci, terraform_validate, terraform_validate_streaming_cluster]
   # needs: [ci_base, terraform_validate, terraform_validate_streaming_cluster]
    uses:  Energinet-DataHub/.github/.github/workflows/python-wheel-ci.yml@5.0.5
    with:
      PYHTON_VERSION: '3.8.6'
      ARCHITECTURE: 'x64'
      WHEEL_WORKING_DIRECTORY: './source/databricks'
      ARTIFACT_NAME: 'wheel'
      ARTIFACT_PATH: './source/databricks/dist'

  create_prerelease:
    needs: [time_series_bundle_ingestor_ci, wheel_ci]
    uses: Energinet-DataHub/.github/.github/workflows/create-prerelease.yml@5.0.0
    with:
      CALLER_REPOSITORY_PATH: Energinet-DataHub/geh-timeseries
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
